<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="messengerMenu :: newhead"></head>
<body>
<nav data-th-replace="messengerMenu :: newmenu"></nav>

<div class="container">
    <!-- TODO EZ A BESZÉLGETÉSEK LISTÁJA később. változókat átírni-->
    <h1>BeszélgetésEK</h1>
    <table class="table">
        <thead>
        <tr>
            <td>Szerző</td>
            <td>Szöveg</td>
            <td>Topic</td>
            <td>Dátum</td>
            <td data-sec-authorize="hasRole('ADMIN')">Deleted</td>
            <td></td>
            <td data-sec-authorize="hasRole('ADMIN')"></td>
        </tr>
        </thead>
        <tbody id="msgtbody">
        <tr data-th-each="cmsg: ${cmsgList}">
            <td style="display: none" class="msgId" data-th-text="${cmsg.id}"></td>
            <td data-th-text="${msg.author}"></td>
            <td data-th-text="${msg.text}"></td>
            <td data-th-text="${msg.topic.title}"></td>
            <td data-th-text="${{msg.creationDate}}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>