<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="messengerMenu :: newhead"></head>
<body>
<nav data-th-replace="messengerMenu :: newmenu"></nav>

<div class="container">
    <!-- TODO EZ A BESZÉLGETÉSEK LISTÁJA később. változókat átírni-->
    <h1>BeszélgetésEK</h1>
    <table class="table">
        <thead>
        <tr>
            <td>id</td>
            <td>beszélgetés indító</td>
            <td>beszélgetés partner</td>
            </tr>
        </thead>
        <tbody id="msgtbody">
        <tr data-th-each="conv: ${allconvs}">
            <!--<td data-th-text="${conv.id}"></td> -->
            <td><a data-th-href="@{'/messengerMessages/'+${conv.id}}" data-th-text="${conv.convPartner}"></a></td>
            <td data-th-text="${conv.convStarter}"></td>
            <td data-th-text="${conv.convPartner}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>