<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="menu :: msghead"></head>
<body>
<nav data-th-replace="menu :: msgmenu"></nav>

<div class="container">
    <h1>Üzenet lista</h1>

    <div class="col-10 offset-1 mb-5">

        <div class="card">
            <div class="card-header" id="headingOne">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                    Keresés
                </button>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    <form data-th-action="@{/messages}" method="get">

                        <div class="form-group row">
                            <label for="searchAuthor" class="col-sm-4 col-form-label col-form-label-sm">Üzenet
                                írója:</label>
                            <div class="col-sm-8">
                                <input type="text" name="author" class="form-control form-control-sm" id="searchAuthor"
                                       placeholder="Szerző">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="searchText" class="col-sm-4 col-form-label col-form-label-sm">Üzenet
                                szövege:</label>
                            <div class="col-sm-8">
                                <input type="text" name="text" class="form-control form-control-sm" id="searchText"
                                       placeholder="Szöveg">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="searchStartDate" class="col-sm-4 col-form-label col-form-label-sm">Üzenet
                                keletkezése:</label>
                            <div class="col-sm-4">
                                <input type="datetime-local" name="from" class="form-control form-control-sm">
                            </div>
                            <div class="col-sm-4">
                                <input type="datetime-local" name="to" class="form-control form-control-sm"
                                       id="searchStartDate">
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="sortBy" class="col-sm-4 col-form-label col-form-label-sm">Rendezés:</label>
                            <div class="col-sm-4">
                                <select name="orderby" class="form-control form-control-sm" id="sortBy">
                                    <option value="author">Szerző</option>
                                    <option value="text">Szöveg</option>
                                    <option value="date">Dátum</option>
                                </select>
                            </div>
                            <div class="col-sm-4">

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="order" id="inlineRadio1"
                                           value="asc" checked>
                                    <label class="form-check-label col-form-label-sm" for="inlineRadio1">Növekvő</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="order" id="inlineRadio2"
                                           value="desc">
                                    <label class="form-check-label col-form-label-sm"
                                           for="inlineRadio2">Csökkenő</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="searchStartDate" class="col-sm-4 col-form-label col-form-label-sm">Megjelenítendő
                                üzenetek száma:</label>
                            <div class="col-sm-8">
                                <input type="number" name="limit" class="form-control form-control-sm"/>
                            </div>
                        </div>
                        <div class="form-group row" data-sec-authorize="hasRole('ADMIN')">
                            <label for="showDeleted" class="col-sm-4 col-form-label col-form-label-sm">Törölt üzenetek
                                mutatása</label>
                            <div class="col-sm-8">
                                <input type="checkbox" name="showDeleted" id="showDeleted"/>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Keresés</button>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <table class="table">
        <thead>
        <tr>
            <td>Szerző</td>
            <td>Szöveg</td>
            <td>Topic</td>
            <td>Dátum</td>
            <td data-sec-authorize="hasRole('ADMIN')">Deleted</td>
            <td></td>
            <td data-sec-authorize="hasRole('ADMIN')"></td>
        </tr>
        </thead>
        <tbody id="msgtbody">
        <tr data-th-each="msg: ${msgList}">
            <td style="display: none" class="msgId" data-th-text="${msg.id}"></td>
            <td data-th-text="${msg.author}"></td>
            <td data-th-text="${msg.text}"></td>
            <td data-th-text="${msg.topic.title}"></td>
            <td data-th-text="${{msg.creationDate}}"></td>
            <td data-sec-authorize="hasRole('ADMIN')" data-th-text="${msg.deleted}"></td>
            <td><a data-th-href="@{/message/{id}(id=${msg.id})}">Részletek</a></td>
            <td data-sec-authorize="hasRole('ADMIN')">
                <!-- <form method="post" data-th-action="@{/messages/delete/{id}(id=${msg.id})}"> -->
                    <button type="submit" class="btn btn-primary deleteButton" >Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form style="display: none" method="post" data-th-action="@{/messages/delete/0}">
        <button type="submit">Delete</button>
    </form>
    <script>
        $('.deleteButton').click(function(event){
            let id = event.target.closest('tr').querySelector('.msgId').innerText;
            $.ajax('messages/delete/'+id, {
                method: "DELETE",
                beforeSend: function(xhr){xhr.setRequestHeader('X-CSRF-TOKEN', $("input[name='_csrf']")[0].value);},
                success: function(){
                    let selector = ".msgId:contains('" + id + "')";
                    $('#msgtbody tr').has(selector).fadeOut(900);
                }
            })
        })
    </script>

</div>
</body>
</html>
