<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="menu :: msghead"></head>
<body>
<nav data-th-replace="menu :: msgmenu"></nav>

<div class="container">
    <h1>User list</h1>
    <table class="table">
        <thead>
        <tr>
            <td>Username</td>
            <td>Email</td>
            <td>Birthday</td>
            <td>Deleted</td>
            <td>Role</td>
            <td></td>
        </tr>
        </thead>
        <tr data-th-each="user: ${users}">
            <td data-th-text="${user.username}"></td>
            <td data-th-text="${user.email}"></td>
            <td data-th-text="${{user.dateOfBirth}}"></td>
            <td data-th-text="${user.getAuthorities().stream().findFirst().get().getAuthority()}"></td>
            <td>
                <form method="post" data-th-action="@{/user/changeRole}">
                    <input type="hidden" name="username" data-th-value="${user.username}">
                    <select name="role">
                        <option value="ROLE_USER">User</option>
                        <option value="ROLE_ADMIN">Admin</option>
                    </select>
                    <button type="submit">Save</button>
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>
